h1 Last Webhook Data

h3 Identity #{@identity.identity}
h3 Identity verification_id #{@identity.verification_id}

br
br

- @webhook.data.split(",").each do |part|
  p = part


= link_to index_mati_path, class: "btn btn-warning"
  | Home
